.banner {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bannerImage {
    height: 100%;
    width: 100%;
}

.breadcrumbLink:hover {
    color: black;
    text-decoration: underline;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.breadcrumbContent {
    position:absolute;
    z-index: 10;
}