.cartPopUp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    /* opacity: 0; */
    /* visibility: hidden; */
    -webkit-transition: opacity .35s cubic-bezier(.29,.58,.32,1);
    -o-transition: opacity .35s cubic-bezier(.29,.58,.32,1);
    transition: opacity .35s cubic-bezier(.29,.58,.32,1);
    z-index: 9999; 
}

.cartPopUpActive{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .35s cubic-bezier(.29,.58,.32,1);
    -o-transition: opacity .35s cubic-bezier(.29,.58,.32,1);
    transition: opacity .35s cubic-bezier(.29,.58,.32,1);
    z-index: 9999; 
}

.cartContainer {
    position: absolute;
    width: 25em;
    height: 100%;
    display: flex;
    flex-direction: column;
    right: 0;
    background-color: var(--main-bg);

}

.prodImage{
    width: 1em;
}

.headerCart{
    height: 5%;
    border-bottom: 1px solid var(--main-grey);
    background-color: var(--main-bg-nav);
}

.productsWrap{
    padding: 15px;
    height: calc(80% - 15px);
    overflow-y: scroll;
}


.footerCart{
    padding: 15px;
    width: calc(100% - 15px);
    height: 15%;
}