:root{
  --main-pink:#ee4266;
  --main-white:#e6e6e6;
  --main-bg:#fafafa;
  --main-bg-nav:#fff;
  --main-black:rgba(0, 0, 0, 0.9);
}
html,
body {
  background-color: var(--main-bg);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-link{
  color: var(--main-black) !important;
}

.nav-link.active{
  color: var(--main-pink) !important;
}

.nav-link:hover,a:hover{
  color: var(--main-pink) !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
