.productImage{
    height: 60vh;
    box-sizing: border-box;
    width: 20vw;
}

.sizeOption{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-right: 15px;
    margin-top: 5px;
    padding: 3px;
    text-align: center;
    border: 1px solid #797979;
    border-radius: 50px;
}